/* O normalize do bootstrap já usa o box-sizing: border-box; */

html {
  font-size: 100%;
}

body {
  /* posicionamento */

  /* display e box model */
  margin: 0;
  
  /* cores */

  /* texto */
  font-family: Arial, Helvetica, sans-serif;

  /* outros */
}

a {
  color: #337ab7;
  text-decoration: none;
}