/*------------------------------------*\
  #PLANO
\*------------------------------------*/

.plano {
  position: relative;
  padding: 10px;
  border: 1px solid #95a4a5;

  font-size: 0.875rem;
}

.plano--mais-popular::after {
  position: absolute;
  top: -10px;
  left: -10px;

  padding: 0 10px;

  background-color: #c20303;
  color: #fff;

  font-size: 0.875rem; /* 14px */
  line-height: 2.5;

  content: "MAIS POPULAR";
}

.plano__cabecalho {
  /* display e box model*/
  margin: -10px;
  margin-bottom: 0;

  /* cores */
  background-color: #95a4a5;
  color: #fff;

  /* texto */
  text-align: center;
  line-height: 2.5;
  font-weight: normal;
  font-size: 2em;
}

.plano__preco {
  /* display e box model */
  margin: 20px 0;

  /* texto */
  text-align: center;
  font-size: 2em;
}

.plano__caracteristicas {
  /* display e box model */
  padding: 0;
  margin: 20px 0;

  /* texto */
  font-size: 1em;

  /* outros */
  list-style: none;
}

.plano__caracteristicas > li {
  text-align: center;
}

.plano__rodape {
  text-align: center;
}

/*------------------------------------*\
  #BOTAO
\*------------------------------------*/

.botao {
  /* display e box model */
  display: inline-block;
  padding: 1em 1.4em;

  /* cores */
  background-color: #bbb;
  color: #fff;

  /* texto */
  font-size: 1em;
  text-decoration: none;
}

.botao:hover,
.botao:focus {
  /* cores */
  background-color: #aaa;
  color: #fff;

  /* texto */
  text-decoration: none;
}

.botao--assinar {
  background-color: #127d00;
}

.botao--assinar:hover,
.botao--assinar:focus {
  background-color: #0e6400;
}

.botao--principal {
  border-radius: 10px;
  background-color: #004b86;
}

.botao--principal:hover,
.botao--principal:focus {
  background-color: #003b6a;
}

/*------------------------------------*\
  #CHAMADA
\*------------------------------------*/

.chamada {
  font-size: 1rem;
  text-align: center;
}

.chamada__titulo {
  margin: 0;

  color: #fff;

  font-size: 3.375em;
  line-height: 0.9;
  text-shadow: 1px 1px #313131;
}

.chamada__subtitulo {
  margin: 60px 0;

  color: #fff;

  font-size: 1em;
}

.chamada__acao {
  font-size: 1em;
}

@media (min-width: 992px) {
  /* tamanho "Medium" do breakpoint do bootstrap */
  .chamada {
    padding-left: 10%;
    padding-right: 10%;

    font-size: 1.375rem;
  }
}

/*------------------------------------*\
  #DEPOIMENTO
\*------------------------------------*/

.depoimento {
  font-size: 1.375rem;
}

@media(min-width: 992px){
  .depoimento{
    padding-left: 15%;
    padding-right: 15%;

    font-size: 1.75rem;
  }
}

.depoimento > blockquote {
  margin: 0;
  padding: 0 60px;

  text-align: center;
  font-size: 1em;
}

.depoimento__autor {
  margin-top: 40px;

  text-align: center;
  font-size: 0.7272em;
}

.depoimento__autor > img {
  border-radius: 50%;
}

.depoimento__autor > p {
  margin-top: 10px;
}