/*------------------------------------*\
  #PLANO
\*------------------------------------*/

.plano {
  padding: 10px;
  border: 1px solid #95a4a5;

  font-size: 0.875rem;
}

.plano__cabecalho {
  /* display e box model*/
  margin: -10px;
  margin-bottom: 0;

  /* cores */
  background-color: #95a4a5;
  color: #fff;

  /* texto */
  text-align: center;
  line-height: 2.5;
  font-weight: normal;
  font-size: 2em;
}

.plano__preco {
  /* display e box model */
  margin: 20px 0;

  /* texto */
  text-align: center;
  font-size: 2em;
}

.plano__caracteristicas {
  /* display e box model */
  padding: 0;
  margin: 20px 0;

  /* texto */
  font-size: 1em;

  /* outros */
  list-style: none;
}

.plano__caracteristicas > li {
  text-align: center;
}

.plano__rodape {
  text-align: center;
}

/*------------------------------------*\
  #BOTAO
\*------------------------------------*/

.botao {
  /* display e box model */
  display: inline-block;
  padding: 1em 1.4em;

  /* cores */
  background-color: #bbb;
  color: #fff;

  /* texto */
  font-size: 1em;
  text-decoration: none;
}

.botao:hover,
.botao:focus {
  /* cores */
  background-color: #aaa;
  color: #fff;

  /* texto */
  text-decoration: none;
}

.botao--assinar {
  background-color: #127d00;
}

.botao--assinar:hover,
.botao--assinar:focus {
  background-color: #0e6400;
}

h1 > div > li {
  background-color: #0e6400;
}
